.home-section{
    text-align: center;
   padding-top: 40px;
    
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://t4.ftcdn.net/jpg/02/43/22/71/360_F_243227135_0MKgZJefxBmaClJmhFdgfSByHI4n8UVy.jpg');
    display: flex;
    flex-direction: column;
  
    justify-content: space-between;
  
}


.quote{
    filter: blur(.8px);
    background: white;
    height: 135px;
    width: 285px;
    padding: 14px;
    font-size: 21px;
    margin: 11px auto 2px;
    border-radius: 0px 38px 0px 38px;
}

.home-section h2{
    font-size: 46px;
    height: 54px;
    word-spacing: 14px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: white;
    /* font-family: system-ui; */
    font-weight: bold;
}
.lottie{
   
}
.home-section p{
    font-size: 18px;
    letter-spacing: 0.4px;
    padding: 12px;
    font-family: sans-serif;
    font-weight: bold;
    color: aliceblue;
}
.add-notes> button{
    width: 22%;
    padding: 9px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    margin-top: 55px;
    background: #0000008a;
    color: white;
    border-radius: 7px;
    box-shadow: -2px 1px 11px 1px;
}

.home-div{
    padding-top: 15px;
}
@media screen and (max-width:650px){
    .home-section{
        height: 70vh;
        padding-top: 50px;
        /* background-image: url('../../assets/education1.jpg'); */
        
    }
    .home-div{
        padding-top: 0;
    }
    .center-section a{
        width: 89%;
        font-size: 18px;
    }
    .quote{
        width: 222px;
        height: 115px;
        padding: 16px;
        font-size: 18px;
    }
    .add-notes button{
        width: 70%;
        margin-top: 55px;
        font-size: 16px;
        padding: 8px;
    }
    .center-section h1{
        font-size: 29px;
        margin: 0;
    }
    .lottie{
        width: 63%;
    }
    .home-section h2{
        font-size: 31px;
        word-spacing: unset;
    }
}