.home-section{
    text-align: center;
   
    
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/education.jpg');
    display: flex;
    flex-direction: column;
  
    justify-content: space-between;
  
}
.home-div{
    padding-top: 30px;
}

.quote{
    filter: blur(.8px);
    background: white;
    width: 246px;
    padding: 14px;
    font-size: 18px;
    margin: 11px auto 2px;
    border-radius: 0px 38px 0px 38px;
}

.home-section h2{
    font-size: 46px;
    height: 54px;
    word-spacing: 14px;
    letter-spacing: 1px;
    /* font-family: system-ui; */
    font-weight: bold;
}
.lottie{
   
}
.home-section p{
    font-size: 18px;
    letter-spacing: 0.4px;
    padding: 12px;
    font-family: sans-serif;
    font-weight: bold;
    color: aliceblue;
}


@media screen and (max-width:650px){
    .home-section{
        padding-top: 40px;
        background-image: url('../../assets/education1.jpg');
        
    }
    .center-section a{
        width: 89%;
        font-size: 18px;
    }
    .center-section h1{
        font-size: 29px;
        margin: 0;
    }
    .lottie{
        width: 63%;
    }
    .home-section h2{
        font-size: 31px;
        word-spacing: unset;
    }
}