
.ai-section{
    background: #ebebeb;
    height: 90vh;
    width: 70vw;
    margin: auto;
 
}
.chatting-area{
    height: 90%;
    overflow-y: scroll;
}
.chatting-area h2{
    font-size: 30px;
    color: #8d8989;
    text-align: center;
    margin-top: 25px;
}
.input-area{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 43px;
    background: white;
    
}
.input-area input{
    border: none;
    height: 95%;
    width: 92%;
    border-radius: 33px;
    padding-left: 19px;
    font-size: 17px;
    outline: none;
}
.problem{
    white-space: pre-wrap; /* Preserve whitespace but allow wrapping */
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word;
    width: fit-content;
    font-size: 22px;
    background: #c8c8c8;
    color: #343232;
    padding: 14px;
    margin: 133px 20px auto auto;
    border-radius: 19px;
}
.answer{
    width: 78%;
    margin: auto;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 25px;
    padding-bottom: 20px;
}
code{
    font-size: 19px;
    white-space: pre-wrap !important;
    word-wrap: break-word;
}
#loads{
    height: 25%;
    position: relative;
    top: 5%;
    width: 80%;
    left: 8%;
}

@media screen and (max-width:550px){
    .ai-section{
        width: 99%;
        height:82vh ;
    }
    .chatting-area{
        height: 89%;
    }
    .chatting-area h2{
        font-size: 21px;
    }
    pre{
        font-size: 17px !important;
    }
    .answer{
        width: 90%;
    }
    .problem{
        font-size: 19px;
    }
    .input-area input{
        width: 85%;
    }
}